/* CSS declarations go here */

.contact {
    margin-bottom: 100px;
    margin-top: 100px;
}

.logo {
    background-color: #ddd;
    border-radius: 10px;
    margin-left: 320px;
}

.link {
    padding-left: 50px;
}

h1 {
    font-size: 90px;
    padding: 10px;
    text-align: center;
}

h3 {
    font-size: 30px;
    padding: 10px;
    text-align: center;
}

h2 {
    font-family: sans-serif;
    font-size: 60px;
    padding: 70px 120px;
}

a {
    color: lightskyblue;
}


/*
img {
    max-width: 300px;
    max-height: 500px;
}
*/

.col-xs-6 {
    padding-left: 0;
}

img {
    border-radius: 2%;
}

iframe {
    padding-top: 30px;
}

.halo4 {
    background-image: url(http://www.gamingnow.info/wp-content/gallery/halo-4-wallpapers/halo-4-wallpapers-hd-3.jpg);
    background-size: cover;
    color: white;
    padding-bottom: 50px;
}

.fallout {
    background-image: url(https://i.ytimg.com/vi/jsLOMOGADa8/maxresdefault.jpg);
    background-size: cover;
    color: white;
    padding-bottom: 50px;
}

.skyrim {
    background-image: url(https://i.ytimg.com/vi/WYpS6uJVQwA/maxresdefault.jpg);
    background-size: cover;
    color: white;
    padding-bottom: 50px;
}

.blackflag {
    background-image: url(http://www.wallpapermade.com/images/wallpapers/originals/assassin-s-creed-iv-black-flag-jackdaw-ship-wallpaper-3600.jpg);
    background-size: cover;
    color: white;
    padding-bottom: 50px;
}

.reddead {
    background-image: url(http://wallpapercave.com/wp/9ekbZZt.jpg);
    background-size: cover;
    color: white;
    padding-bottom: 50px;
}

.description {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding-left: 20px;
}

body {
    background-color: #eee;
}