<head>
    <title>Gamehub</title>
</head>

<body>
    <div class="jumbotron" name="top">
        <img src="http://news.appota.com/wp-content/uploads/2014/05/gamehub-icon.png" class="logo">

        <h3>This website provides information and entertainment materials based around video games.<br /> You can find relevant media and information to help you gauge if you want it.</h3>
        <a href=#contact class="link">Contact</a>
    </div>

    <br />{{> hello}} {{> info}}
</body>
<template name="hello">
    <div class="halo4">
        <h2>Halo 4</h2>
        <div class="container">
            <div class="col-xs-4 ">
                <img src="https://s-media-cache-ak0.pinimg.com/236x/bd/d1/88/bdd18893eac65338609903b7c654cc42.jpg">
            </div>
            <div class="col-xs-6 description">
                <h4>Description </h4>
                <p>Master Chief returns in Halo 4, part of a new trilogy in the colossal Halo universe. Set almost five years after the events of Halo 3, Halo 4 takes the series in a new direction and sets the stage for an epic new sci-fi saga, in which the Master Chief returns to confront his destiny and face an ancient evil that threatens the fate of the entire universe. Halo 4 also introduces a new multiplayer offering, called Halo Infinity Multiplayer, that builds off of the Halo franchise's rich multiplayer history. The hub of the Halo 4 multiplayer experience is the UNSC Infinity – the largest starship in the UNSC fleet that serves as the center of your Spartan career. Here you’ll build your custom Spartan-IV supersoldier, and progress your multiplayer career across all Halo 4 competitive and cooperative game modes.</p>
                <p>Genre: First-Person Shooter</p>
                <p>Developer: 343 Industries</p>
                <p>Ratings: IGN: 9.8/10, Community: 9.0/10</p>
                <p>Platforms: Xbox 360</p>
                <p>Release Date: November 6, 2012</p>
                <p><a href="www.xbox.com/halo4">Halo Website</a></p>
                <p><a href="https://www.youtube.com/user/HaloWaypoint">Halo Youtube</a></p>
                <p><a href="https://www.youtube.com/watch?v=3lqrGbRtL8M&index=8&list=PLakwH-MsLLJQ7Q8UYsDEa6pTVooybMtwD">Sound</a></p>
            </div>

        </div>

        <div class="container">
            <div class="col-xs-5">
                <iframe width="450" height="315" src="https://www.youtube.com/embed/-kg3yxNsSzk" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-xs-5">
                <iframe width="450" height="315" src="https://www.youtube.com/embed/a97UuT3PQ1w" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="skyrim">
        <h2>Elder Scrolls V: Skyrim</h2>
        <div class="container">
            <div class="col-xs-4 ">
                <img src="https://upload.wikimedia.org/wikipedia/en/1/15/The_Elder_Scrolls_V_Skyrim_cover.png">
            </div>
            <div class="col-xs-6 description">
                <h4>Description </h4>
                <p>The Empire of Tamriel is on the edge. The High King of Skyrim has been murdered. Alliances form as claims to the throne are made. In the midst of this conflict, a far more dangerous, ancient evil is awakened. Dragons, long lost to the passages of the Elder Scrolls, have returned to Tamriel. The future of Skyrim, even the Empire itself, hangs in the balance as they wait for the prophesized Dragonborn to come; a hero born with the power of The Voice, and the only one who can stand amongst the dragons.</p>
                <p>Genre: RPG</p>
                <p>Developer: Bethesda</p>
                <p>Ratings: IGN: 9.5/10, Community: 9.4/10</p>
                <p>Platforms: Xbox 360, PS3, PC</p>
                <p>Release Date: November 11, 2011</p>
                <p><a href="www.elderscrolls.com/skyrim/">Skyrim Website</a></p>
                <p><a href="https://www.youtube.com/user/BethesdaSoftworks">Bethesda Youtube</a></p>
                <p><a href="https://bethesda.net">Bethesda Website</a></p>
                <p><a href="https://www.youtube.com/watch?v=8BHKLVr_Cxw&index=40&list=PLakwH-MsLLJQ7Q8UYsDEa6pTVooybMtwD">Sound</a></p>
                <p><a href="https://www.youtube.com/watch?v=0FLQ4rACE-0&index=41&list=PLakwH-MsLLJQ7Q8UYsDEa6pTVooybMtwD">Sound 2</a></p>
                <p><a href="https://www.youtube.com/watch?v=NCHq0m67lq8&list=PLakwH-MsLLJQ7Q8UYsDEa6pTVooybMtwD&index=42">Sound 3</a></p>
            </div>

        </div>

        <div class="container">
            <div class="col-xs-5">
                <iframe width="450" height="315" src="https://www.youtube.com/embed/JSRtYpNRoN0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-xs-5">
                <iframe width="450" height="315" src="https://www.youtube.com/embed/TWv3DfoiigM" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="fallout">
        <h2>Fallout 4</h2>
        <div class="container ">
            <div class="col-xs-4 ">
                <img src="http://trouverunjoueur.fr/images/cover/250x340/fallout-4.jpg">
            </div>
            <div class="col-xs-6 description">
                <h4>Description </h4>
                <p>As the sole survivor of Vault 111, you enter a world destroyed by nuclear war. Every second is a fight for survival, and every choice is yours. Only you can rebuild and determine the fate of the Wasteland. Welcome home.</p>
                <p>Genre: RPG</p>
                <p>Developer: Bethesda</p>
                <p>Ratings: IGN: 9.5/10, Community: 9.4/10</p>
                <p>Platforms: Xbox One, PS4, PC</p>
                <p>Release Date: November 10, 2015</p>
                <p><a href="https://www.fallout4.com/">Fallout 4 website</a></p>
                <p><a href="https://www.youtube.com/user/BethesdaSoftworks">Bethesda Youtube</a></p>
                <p><a href="https://bethesda.net">Bethesda Website</a></p>
                <p><a href="https://www.youtube.com/watch?v=nTY9JimeXuw&index=25&list=PLakwH-MsLLJQ7Q8UYsDEa6pTVooybMtwD">Sound</a></p>
                <p><a href="https://www.youtube.com/watch?v=NJS3bIpGYT0&list=PLakwH-MsLLJQ7Q8UYsDEa6pTVooybMtwD&index=26">Sound 2</a></p>
            </div>

        </div>

        <div class="container">
            <div class="col-xs-5">
                <iframe width="450" height="315" src="https://www.youtube.com/embed/X5aJfebzkrM" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-xs-5">
                <iframe width="450" height="315" src="https://www.youtube.com/embed/flOKKJfXRQM" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="blackflag">
        <h2>Assassins Creed IV: Black Flag</h2>
        <div class="container">
            <div class="col-xs-4 ">
                <img src="https://upload.wikimedia.org/wikipedia/en/2/28/Assassin's_Creed_IV_-_Black_Flag_cover.jpg">
            </div>
            <div class="col-xs-6 description">
                <h4>Description </h4>
                <p>It is 1715. Pirates rule the Caribbean and have established a lawless pirate republic. Among these outlaws is a fearsome young captain named Edward Kenway. His exploits earn the respect of pirate legends like Blackbeard, but draw him into an ancient war that may destroy everything the pirates have built. Set sail on the high seas in Assassin's Creed IV: Black Flag, a pirate-filled adventure in the Assassin's Creed saga. Become Edward Kenway, a charismatic yet brutal pirate captain, trained by Assassins. Command your ship, the Jackdaw, and strike fear in all who see her. Plunder and pillage to upgrade the Jackdaw with ammunition and equipment needed to fight off enemy ships as you venture out to discover the most diverse Assassin's Creed world ever created.</p>
                <p>Genre: Action</p>
                <p>Developer: Ubisoft</p>
                <p>Ratings: IGN: 8.5, Community: 8.9</p>
                <p>Platforms: Xbox 360, Xbox One, Wii U, PS3, PS4, PC</p>
                <p>Release Date: October 29, 2013</p>
                <p><a href="assassinscreed.ubi.com/en-us/games/assassins-creed-black-flag
">Game Website</a></p>
                <p><a href="https://www.ubisoft.com/">Ubisoft Website</a></p>
                <p><a href="https://www.youtube.com/channel/UCBMvc6jvuTxH6TNo9ThpYjg">Ubisoft Youtube</a></p>
                <p><a href="https://www.youtube.com/watch?v=I1HICfXbFBM&list=PLakwH-MsLLJQ7Q8UYsDEa6pTVooybMtwD&index=3">Sound</a></p>
            </div>
        </div>
        <div class="container">
            <div class="col-xs-5">
                <iframe width="450" height="315" src="https://www.youtube.com/embed/8IWwjdPJpiU" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-xs-5">
                <iframe width="450" height="315" src="https://www.youtube.com/embed/JYVMnLUZu9Y" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="reddead">
        <h2>Read Dead Redemption</h2>
        <div class="container">
            <div class="col-xs-4 ">
                <img src="http://www.slate.com/content/dam/slate/archive/2010/12/1_123125_2097085_2245577_2277777_101213_gam_reddead.jpg.CROP.original-original.jpg">
            </div>
            <div class="col-xs-6 description">
                <h4>Description </h4>
                <p>Red Dead Redemption is a Western epic, set at the turn of the 20th century when the lawless and chaotic badlands began to give way to the expanding reach of government and the spread of the Industrial Age. A follow up to the 2004 hit Red Dead Revolver, this game tells the story of former outlaw John Marston, taking players on a great adventure across the American frontier. Red Dead Redemption features an open-world environment for players to explore, including frontier towns, rolling prairies teaming with wildlife, and perilous mountain passes - each packed with an endless flow of varied distractions. Along the way, players will experience the heat of gunfights and battles, meet a host of unique characters, struggle against the harshness of one of the world’s last remaining wildernesses, and ultimately pick their own precarious path through an epic story about the death of the Wild West and the gunslingers that inhabited it.</p>
                <p>Genre: Action</p>
                <p>Developer: Rockstar Games</p>
                <p>Ratings: IGN: 9.7/10 , Community: 9.5/10 </p>
                <p>Platforms: Xbox 360, PS3</p>
                <p>Release Date: May 18, 2010 </p>
                <p><a href="www.rockstargames.com/reddeadredemption/">Read Dead Website</a></p>
                <p><a href="www.rockstargames.com/">Rockstar Website</a></p>
                <p><a href="https://www.youtube.com/user/RockstarGames">Rockstar Youtube</a></p>
                <p><a href="https://www.youtube.com/watch?v=zV48aAF5AcM&index=55&list=PLakwH-MsLLJQ7Q8UYsDEa6pTVooybMtwD">Sound</a></p>

            </div>
        </div>
        <div class="container">
            <div class="col-xs-5">
                <iframe width="450" height="315" src="https://www.youtube.com/embed/3gBctl1h_2o" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-xs-5">
                <iframe width="450" height="315" src="https://www.youtube.com/embed/S6tcs0_NAUI" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</template>

<template name="info">
    <div class="container contact">
        <a name="contact">Contact Me</a>
        <ul>
            <li>Email: jacksonmcglasson@gmail.com</li>
            <li>Backup Email: originalqwerty45@gmail.com</li>
        </ul>
        <br />
        <a href="#top">Back to top of page</a>
    </div>
</template>